{% extends "base.html" %} 
{% block content %}
    <h2>Reviews</h2>
    <ul>
        {% for review in object_list %}
            <li>
				<article>
					<header>
						<a href="{{review.get_absolute_url}}">
							<span class="rating">{{review.rating}}</span>
							<span class="title">{{ review.title }}</span>
							<span class="author">{{ review.author.email }}</span>
							<span class="date">{{review.datetime }}</span>
						</a>
						<span class="uri">{{review.reviewed_uri}}</span>
					</header>
					{{review.text}}
				</article>
			</li>
        {% endfor %}
    </ul>
{% endblock content%}
