{% extends "base.html" %}
{% block title %}{{object.text|slice:":30"}} - {% endblock title%} 
{% block content %}
<ul class="review-stream well">
            <li>
				<article class="review">
					<header>
						<a href="{{object.get_absolute_url}}">
							<span class="rating">{{ object.rating}}</span>
							<address class="author">
								<img class="avatar" src="{{ object.author.get_profile.gravatar_url }}" />
								<span class="nickname">{{ object.author.get_profile.nickname }}</span>
							</address>
							
							<span class="date">{{object.datetime }}</span>
						</a>
						<a href="{{object.reviewed_uri.get_absolute_url}}">
							<span class="uri">{{object.reviewed_uri}}</span>
						</a>
					</header>
					<details>
						{{object.text}}
					</details>
				</article>
			</li>
    </ul>
{% endblock content%}
