<ol class="review-stream stream well">
	{% for review in reviews %}
		<li>
			<article id="review-{{review.id}}" class="review" data-rating="{{review.rating}}">
				<header>
						<a href="{{review.author.get_profile.get_absolute_url}}">
							<span class="nickname">{{ review.author.get_profile.nickname }}</span>
						</a>
						on <span class="date">{{review.date_created }}</span>
						gave
						{% if not thing %}
						<a href="{{review.reviewed_uri.get_absolute_url}}">
							<span class="uri">{{review.reviewed_uri}}</span>
						</a>
						{% else %}
						this
						{% endif %}
						a rating of <span class="rating" data-value="{{review.rating}}">{{review.rating_label}}</span>
						<address class="author">
							<img class="avatar" src="{{ review.author.get_profile.gravatar_url }}" />
						</address>
				</header>
				<p>
					{{review.text}}
				</p>
				
				{% if review.author == request.user %}
				<div class="btn-group">
					<a class="btn" href="{% url edit-review review.id %}">Edit</a>
				</div>
				{% endif %}
			</article>
		</li>
	{% endfor %}
</ol>
