{% extends "base.html" %} 
{% block content %}
    <h2>Reviews</h2>
    <ul class="review-stream well">
        {% for review in object_list %}
            <li>
				<article class="review">
					<header>
						<a href="{{review.get_absolute_url}}">
							<span class="rating">{{review.rating}}</span>
							<span class="title">{{ review.title }}</span>
							<address class="author">
								<img class="avatar" src="{{ review.author.get_profile.gravatar_url }}" />
								<span class="nickname">{{ review.author.get_profile.nickname }}</span>
							</address>
							
							<span class="date">{{review.datetime }}</span>
						</a>
						<a href="{{review.reviewed_uri.get_absolute_url}}">
							<span class="uri">{{review.reviewed_uri}}</span>
						</a>
					</header>
					<detail>
						{{review.text}}
					</detail>
				</article>
			</li>
        {% endfor %}
    </ul>
{% endblock content%}
