{% extends "base.html" %}
{% load verbatim %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}reviews/form.css" type="text/css" />
    {{ form.media.css }}
{% endblock %}


{% block content %}

<h1>Reviewing <a id="thing-link" href="{{ thing.get_absolute_url }}" data-uri="{{thing.uri}}">{{thing}}</a></h1>
<form id="review-form" method="post" action="">
{% csrf_token %}
{{ form.as_p }}

<div id="didyoumention" class="row" hidden="hidden">
	<h2>What are you Talking About?</h2>
	<p>Did you mention any of these Things in your review?</p>
	<div class="span4">
		<h3>Mentioned in this Review</h3>
		<ul id="mentioned-list"></ul>
	</div>
	<div class="span4">
		<h3>Not Mentioned in this Review</h3>
		<ul id="mentionable-list"></ul>
	</div>
</div>

<input type="submit" value="Submit" />
</form>
{% endblock content%}

{% block extra_scripts %}
 {{ form.media.js }}
<script src="{{ STATIC_URL }}3rdparty/sparql/sparql.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/handlebars/handlebars-1.0.0.beta.6.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/underscore/underscore-min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/backbone/backbone-min.js" type="text/javascript"></script>

{% verbatim %}
<script id="sparql-related-things" type="text/x-handlebars-template">
	SELECT DISTINCT ?thing ?name {
		{ <{{{uri}}}> ?p ?thing }
			UNION
		{ ?thing ?p <{{{uri}}}> }
		{ ?thing foaf:name ?name }
		UNION { ?thing rdfs:label ?name }
		UNION { ?thing dct:title ?name  }
	}
</script>


<script id="mentionable-tmpl" type="text/x-handlebars-template">
	<div class="mentionable">
		<label>{{label}}</label>
		<button class="mention btn btn-success btn-mini">Mention</button>
		<button class="unmention btn btn-danger btn-mini">Unmention</button>
	</div>
</script>

<script type="text/javascript">
	
	$(function(){
		
		//Mentionable model
		var submitButton = $("#review-form input[type=submit]")
		submitButton.attr("disabled", "disabled")
		
		var Mentionable = Backbone.Model.extend({
			defaults: function() {
				return {
					label: "no label",
					uri: "no uri",
				}
			},
			
			mention: function(){
				mentionables.remove(this)
				mentioned.add(this)
			},
			
			unmention:function(){
				mentioned.remove(this)
				mentionables.add(this)
			},
		})
		
		var uri_set = {}
		var uri_set_empty = true
		
		
		var MentionableList = Backbone.Collection.extend({
			model: Mentionable,
			
			add: function(mentionable){
				console.log(mentionable)
				if (uri_set.hasOwnProperty(mentionable.uri)){
					return
				}
				uri_set_empty = false
				uri_set[mentionable.get("uri")] = mentionable
				console.log(uri_set)
				Backbone.Collection.prototype.add.call(this, mentionable)
			},
			
			remove: function(mentionable){
				delete uri_set[mentionable.uri]
				Backbone.Collection.prototype.remove.call(this, mentionable)
			}
		})
		
		var MentionableView = Backbone.View.extend({
			tagName: "li",
			template: Handlebars.compile($("#mentionable-tmpl").html()),
			
			events: {
				"click .mention" : "mention",
				"click .unmention" : "unmention",
			},
			
			initialize: function(){
				this.model.bind('change', this.render, this)
			},
			
			render: function(){
				this.$el.html(this.template(this.model.toJSON()))
				return this
			},
			
			mention: function(){
				this.model.mention()
			},
			
			unmention: function(){
				this.model.unmention()
			},
		})
		
		var MentionListView = Backbone.View.extend({
			
			initialize: function(collection, list) {
				this._viewPointers = []
				
				collection.bind('add', this.addOne, this)
				collection.bind('reset', this.addAll, this)
				collection.bind('all', this.render, this)
				collection.bind('remove', this.removeOne, this)
				this.list = list
			},
			
			addOne: function(mentionable) {
				var view = new MentionableView({model: mentionable})
				this._viewPointers[mentionable.cid] = view
				this.list.append(view.render().el)
			},
			
			addAll: function() {
				collection.each(this.addOne);
			},
			
			removeOne: function(mentionable){
				this._viewPointers[mentionable.cid].remove()
			},
		})
		
		var mentionables = new MentionableList;
		var mentioned = new MentionableList;
		
		
		var mentionableView = new MentionListView(mentionables, $("#mentionable-list"))
		var mentionedView = new MentionListView(mentioned, $("#mentioned-list"))
		
		var sparqlRelatedThings = Handlebars.compile($("#sparql-related-things").html())
		var relatedThings = Handlebars.compile($("#related-things").html())
		
		var sparqler = new SPARQL.Service("http://sparql.data.southampton.ac.uk/")
		
		sparqler.setPrefix("foaf", "http://xmlns.com/foaf/0.1/")
		sparqler.setPrefix("dct", "http://purl.org/dc/terms/")
		sparqler.setPrefix("rdfs", "http://www.w3.org/2000/01/rdf-schema#")
		
		sparqler.setOutput("json")
		sparqler.setMethod("POST")
		
		get_mentionables()
		
		function get_mentionables(){
			var query = sparqler.createQuery()
				
				
			query.query(
				sparqlRelatedThings({uri:$("#thing-link").attr("data-uri")}),
				{
					failure: function(){
						done()
					},
					success: function(json) {
	
						for(var i=0; i<json.results.bindings.length; i++){
							var item = json.results.bindings[i]
							if (item.thing.type == "uri" && 'name' in item){
								mentionables.add(new Mentionable({ uri:item.thing.value, label:item.name.value}))
							}
						}
						done()
					}
				}
			)
		}
		
		function done(){
			console.log(uri_set)
			if (!uri_set_empty){
				$("#didyoumention").removeAttr("hidden")
			}
					
			submitButton.removeAttr("disabled")
		}
	})
</script>
{% endverbatim %}
{% endblock %}
