{% extends "base.html" %} 
{% block content %}
	<article class="thing">
		<header>
			<a href="{{object.uri}}">
				<h2 class="name">{{object}}</h2>
			</a>
			<small class="uri">{{object.uri}}</small>
		</header>
		<details>
			{{object.description|safe}} {# This is not actually safe #}
		</details>
		
		{% if object.review_set.all %}
		
		<table class="table">
			<thead>
				<tr>
					<th>rating</th>
					<th>count</th>
				</tr>
			</thead>
			<tbody>
		{% for point in histogram %}
			<tr>
				<td>{{point.rating}}</td>
				<td>{{point.count}}</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	    <h2>Reviews</h2>
			{% include "reviews/review_list_incl.html" with reviews=reviews.object_list only%}
		{% else %}
			No reviews have been created yet.
		{% endif %}
		<a class="btn btn-large btn-primary" href="{% url create-review object.slug %}">Review this Thing</a>
	</article>
{% endblock content%}
