<ol class="thing-stream stream well">
	{% for thing in things %}
	<li>
	<article class="thing">
		<header>
			<a href="{{ thing.uri }}">
				<h2 class="name">{{thing}}</h2>
			</a>
		</header>
		
		{% if thing.table %}
			<table class="horiz-bar-chart">
				<tr>
					{% for cell in thing.table %}
						<td style="background-color:#{{cell.color}};width:{{cell.percentage}}%">
							{{cell.label}}
						</td>
					{% endfor %}
				</tr>
			</table>
		{% endif %}
		
		<div class="btn-group">
			<a class="btn" href="{{ thing.get_absolute_url }}">View Reviews</a>
			<a class="btn btn-primary" href="{% url create-review thing.slug %}">Review</a>
		</div>
	</article>
	</li>
	{% endfor %}
</ol>
