<ol class="thing-stream stream well">
	{% for thing in things %}
	<li>
	<article class="thing">
		<header>
			<a href="{{ thing.uri }}">
				<h2 class="name">{{thing}}</h2>
			</a>
			{% if thing.review__rating__sum %}
				Total rating = <span class="total">{{thing.review__rating__sum}}</span>
			{% endif %}
		</header>
		<div class="btn-group">
			<a class="btn" href="{{ thing.get_absolute_url }}">View Reviews</a>
			<a class="btn btn-primary" href="{% url create-review thing.slug %}">Review</a>
		</div>
	</article>
	</li>
	{% endfor %}
</ol>
