{% extends "base.html" %} 
{% block content %}
	<article class="thing">
		<header>
			<a href="{{object.uri}}">
				<h2 class="name">{{object}}</h2>
			</a>
			<small class="uri">{{object.uri}}</small>
		</header>
		<details>
			{{object.description|safe}} {# This is not actually safe #}
		</details>
		
		{% if object.review_set.all %}
	    <h2>Reviews</h2>
			{% include "reviews/review_list_incl.html" with reviews=object.review_set.all only%}
		{% else %}
			No reviews have been created yet.
		{% endif %}
		<a class="btn btn-large btn-primary" href="{% url create-review object.slug %}">Review this Thing</a>
	</article>
{% endblock content%}
