.review .avatar {
    border-radius: 5px 5px 5px 5px;
    height: 48px;
    width: 48px;
}

.review header {
	font-weight: bold;
}

.review:target{
	 box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8);
    border-radius:3px;  
}

.rating[data-value="-3"]:after {
	content: "Terrible";
	color: red;
}

.rating[data-value="-1"]:after {
	content: "Bad";
	color: red;
}

.rating[data-value="1"]:after {
	content: "Good";
	color: green;
}

.rating[data-value="3"]:after {
	content: "Great";
	color: green;
}

.aggregate dd {
    font-size: 3em;
    line-height: 1em;
}

