.review-stream {
	list-style: none;
	padding: 0;
}

.review-stream li {
	border-bottom: 1px solid #C7C7C7;
}
.review-stream li:last-child {
	border: none;
}

.review {
	padding: 9px 12px;
}

.review .avatar {
    border-radius: 5px 5px 5px 5px;
    height: 48px;
    width: 48px;
}

.review header {
	font-weight: bold;
}

.review .date {
	font-weight: normal;
	color: #C7C7C7;
}

.review[data-rating="-3"] {
	background-color: red;
}

.review[data-rating="-1"] {
	background-color: #669900;
}

.review[data-rating="1"] {
	background-color: #B24D00;
}

.review[data-rating="3"] {
	background-color: green;
}

.review:target{
	 box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8);
    border-radius:3px;  
}

