body {
	padding-top: 60px;
}

.review-stream {
	list-style: none;
	padding: 0;
}

.review-stream li {
	border-bottom: 1px solid #C7C7C7;
}
.review-stream li:last-child {
	border: none;
}

.review {
	padding: 9px 12px;
}

#session .avatar {
	width: 18px;
	height: 18px;
	margin-right: 3px;
}

.navbar img {
	vertical-align: text-bottom;
}

#login form {
	display: none;
}

#login a {
	padding: 8px 0px 0px;
}
