<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Datarate{% endblock %}</title>

    <!-- Le HTML5 shiv, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
    <!-- Le styles -->
	<link rel="stylesheet" href="{{ STATIC_URL }}base/style.css" type="text/css" />
	<!-- base must be on top to prevent top bar moving down on smaller screens -->
    <link rel="stylesheet" href="{{ STATIC_URL }}3rdparty/bootstrap/spacelab/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}3rdparty/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}stream/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}reviews/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}things/style.css" type="text/css" />
{% block extra_head %}
{% endblock %}
  </head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					
					<a class="brand" href="/">Datarate</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="{% url thing %}">Things</a><li>
							<li><a href="{% url review %}">Reviews</a><li>
							<li><a href="{% url nearme %}">Nearme</a></li>
						{% block nav %}
						{% endblock %}
						{% if user.is_staff %}
							<li><a href="{% url admin:index %}" class="admin">Admin</a><li>
						{% endif %}
						</ul>
						<ul class="nav pull-right">
							<li class="divider-vertical"></li>
							{% if user.is_authenticated %}
								<li id="session" class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img class="avatar" src="{{user.get_profile.gravatar_url}}" />
										<span class="username">{{user.email}}</span> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{{ user.get_profile.get_absolute_url }}">Profile</a></li>
										<li class="divider"></li>
										<li><a href="{% url logout %}">Sign out</a></li>
									</ul>
								</li>
							{% else %}
								{% block browserid %}
								<li id="login">
									<a id="browserid" href="">
										<img src="{{ STATIC_URL }}3rdparty/browserid/sign_in_blue.png" alt="Sign In" />
									</a>
									<form method="POST" action="{% url browserid_verify %}?next={{ request.path }}">
										{% csrf_token %}
										{{ browserid_form.as_p }}
									</form>
								</li>
								{% endblock browserid %}	
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>

{% block container %}
<div class="container">

	<div class="content">
		<div class="alert alert-info">
			<p>This is a third year project created by
				<a href="http://graingert.co.uk/">Thomas Grainger</a>,
				supervised by
				<a href="http://id.ecs.soton.ac.uk/person/446">Tim Chown</a>.
			</p>
			<p>
				All submitted reviews (rating and comment) will be
				initially only visible within ECS, and will only be
				visible to members of the university.
			</p>
			
		</div>
		
		{% block content %}
		{% endblock %}
	</div>

	<footer class="footer">
		<p>Designed and built by <a href="http://graingert.co.uk/">Thomas Grainger</a>.</p>
        <p>Code avaialable to <a href="https://github.com/graingert/datarate">Fork on Github</a>, licensed under the
			<a href="https://www.gnu.org/licenses/agpl.html" target="_blank">Affero GPL version 3</a>
        </p>
        <p>If you spot a problem why not <a href="https://github.com/graingert/datarate/issues">Submit an Issue</a>?</p>
		
		{% block footer %}
		{% endblock %}
	</footer>

</div>
{% endblock %}


<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
{{ browserid_form.media.js }}
{% block extra_scripts %}
{% endblock %}
</body>
</html>
