<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Datarate{% endblock %}</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}3rdparty/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}base/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}3rdparty/bootstrap/css/bootstrap-responsive.min.css" />
{% block head %}
{% endblock %}
  </head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					
					<a class="brand" href="/">Datarate</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/thing/">Things</a><li>
							<li><a href="/review/">Reviews</a><li>
						{% block nav %}
						{% endblock %}
						</ul>
						<ul class="nav pull-right">
							<li class="divider-vertical"></li>
							{% if user.is_authenticated %}
								<li id="session" class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img class="avatar" src="{{user.get_profile.gravatar_url}}" />
										<span class="username">{{user.email}}</span> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Profile</a></li>
										<li class="divider"></li>
										<li><a href="{% url logout %}">Sign out</a></li>
									</ul>
								</li>
							{% else %}
								{% block browserid %}
								<li id="login">
									<a id="browserid" href="">
										<img src="{{ STATIC_URL }}3rdparty/browserid/sign_in_blue.png" alt="Sign In" />
									</a>
									<form method="POST" action="{% url browserid_verify %}">
										{% csrf_token %}
										{{ browserid_form.as_p }}
									</form>
								</li>
								{% endblock browserid %}	
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>

{% block container %}
<div class="container">

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>

</div>
{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://browserid.org/include.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/browserid/browserid.js" type="text/javascript"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
