{% extends "base.html" %} 
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Datarate!</h1>
        <p>Welcome to Datarate</p>
  
      </div>
      
      <div class="row">
        <div class="span4">
		<h2>Best Things</h2>
		<ol class="review-stream well">
			<li>
				<article class="review">
					<header>
					
						<a href="/review/1">
							<span class="rating">1</span>
							<span class="title">test</span>
							<span class="author">tagrain@gmail.com</span>
							<span class="date"></span>
						</a>
						<a href="/things/httpdatasouthamptonacuksite3">
					
							<span class="uri">http://data.southampton.ac.uk/site/3</span>
						</a>
					</header>
					<detail>
						Not bad
					</detail>
				</article>
			</li>
			<li>
				<article class="review">
					<header>
					
						<a href="/review/1">
							<span class="rating">1</span>
							<span class="title">test</span>
							<span class="author">tagrain@gmail.com</span>
							<span class="date"></span>
						</a>
						<a href="/things/httpdatasouthamptonacuksite3">
					
							<span class="uri">http://data.southampton.ac.uk/site/3</span>
						</a>
					</header>
					<detail>
						Not bad
					</detail>
				</article>
			</li>
			<li>
				<article class="review">
					<header>
					
						<a href="/review/1">
							<span class="rating">1</span>
							<span class="title">test</span>
							<span class="author">tagrain@gmail.com</span>
							<span class="date"></span>
						</a>
						<a href="/things/httpdatasouthamptonacuksite3">
					
							<span class="uri">http://data.southampton.ac.uk/site/3</span>
						</a>
					</header>
					<detail>
						Not bad
					</detail>
				</article>
			</li>
		</ol>
		<p><a class="btn" href="#">More &raquo;</a></p>
        </div>

        <div class="span4">
          <h2>Worst Things</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">More &raquo;</a></p>
        </div>
        
        <div class="span4">
          <h2>Recent Reviews</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">More &raquo;</a></p>
        </div>
      </div>
{% endblock content%}
