{% extends "base.html" %} 
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Datarate!</h1>
        <p>Welcome to Datarate</p>
        <form action="#">
			<input type="text" name="uri" placeholder="URI to locate">
			<input type="submit" value="Go" class="btn-large btn-primary"></input>
		</form>
      </div>
      
      <div class="row">
        <div class="span4">
		<h2>Best Things</h2>
	<ol class="thing-stream">
	{% for thing in best %}
	<li>
	<article class="thing">
		<header>
			<a href="{{ thing.get_absolute_url }}">
				<h2 class="name">{{thing}}</h2>
			</a>
			Total rating = <span class="total">{{thing.review__rating__sum}}</span>
		</header>
		<a class="btn" href="{{ thing.get_absolute_url }}">View Reviews about this Thing</a>
		<a class="btn btn-primary" href="{% url create-review thing.slug %}">Review this Thing</a>
	</article>
	</li>
	{% endfor %}
	</ol>
		<p><a class="btn" href="{% url thing %}">More &raquo;</a></p>
        </div>

        <div class="span4">
          <h2>Worst Things</h2>
	<ol class="thing-stream">
	{% for thing in worst %}
	<li>
	<article class="thing">
		<header>
			<a href="{{ thing.get_absolute_url }}">
				<h2 class="name">{{thing}}</h2>
			</a>
			Total rating = <span class="total">{{thing.review__rating__sum}}</span>
		</header>
		<a class="btn" href="{{ thing.get_absolute_url }}">View Reviews about this Thing</a>
		<a class="btn btn-primary" href="{% url create-review thing.slug %}">Review this Thing</a>
	</article>
	</li>
	{% endfor %}
	</ol>
          <p><a class="btn" href="{% url thing %}">More &raquo;</a></p>
        </div>
        
        <div class="span4">
          <h2>Recent Reviews</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="{% url review %}">More &raquo;</a></p>
        </div>
      </div>
{% endblock content%}
