{% extends "base.html" %} 
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Datarate!</h1>
        <p>Welcome to Datarate</p>
      </div>
      
      <div class="row">
        <div class="span4">
		<h2>Best Things</h2>
              {% include "reviews/thing_list_incl.html" with things=best only %}
		<p><a class="btn" href="{% url thing %}">More &raquo;</a></p>
        </div>

        <div class="span4">
          <h2>Worst Things</h2>
              {% include "reviews/thing_list_incl.html" with things=worst only %}
          <p><a class="btn" href="{% url thing %}">More &raquo;</a></p>
        </div>
        
        <div class="span4">
          <h2>Recent Reviews</h2>
           {% include "reviews/review_list_incl.html" with reviews=reviews request=request only%}
          <p><a class="btn" href="{% url review %}">More &raquo;</a></p>
        </div>
      </div>
{% endblock content%}
