{% extends "base.html" %}
{% load verbatim %}

{% block title %}Nearme - {% endblock title%}
{% block content %}

<h1>Geolocate Things near me</h1>
<div id="geo">
<button id="geolocate" class="btn btn-primary btn-large">Geolocate</button>
</div>

<div id="geofallback" hidden="hidden">
	<div class="alert alert-error">
		Sorry, had to fall back to manual location entry because <span class="reason">something went wrong</span>
    </div>
	<form id="nearme-settings">
		<p><input name="latitude" min="-90" max="90" value="50.942921"/></p>
		<p><input name="longitude" min="-180" max="180" value="-1.401112"/></p>
		<p><input name="radius" value="0.1"/></p>
		<input type="submit" disabled="disabled" />
	</form>
</div>
<div class="row" hidden="hidden" id="things-nearme">

</div>
{% endblock content %}

{% block footer %}
	<p>This page uses <a href="http://www.movable-type.co.uk/scripts/latlong-db.html">code</a> from Chris Veness</p>
{% endblock %}

{% block extra_scripts %}
<script src="{{ STATIC_URL }}3rdparty/sparql/sparql.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/handlebars/handlebars-1.0.0.beta.6.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/URI/URI.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}nearme/script.js" type="text/javascript"></script>
{%verbatim%}
<!--http://notes.3kbo.com/sparql-geolocation-->
<script id="sparql-things-nearme" type="text/x-handlebars-template">
	SELECT * WHERE {
		?s geo:lat ?lat .
		?s geo:long ?long .
		?s rdfs:label ?label .
		FILTER ( ?long > {{minLng}} && ?long < {{maxLng}} && ?lat > {{minLat}} && ?lat < {{maxLat}})
	} LIMIT 100
</script>

<script id="things-nearme-tmpl" type="text/x-handlebars-template">
	<div class="span4">
		<h2>Geolocated Things</h2>
		<p>Your location: {{lng}}, {{lat}}<p>
		{{#if things.length}}
			<ol class="thing-stream stream well">
				{{#things}}
				<li>
				<article class="thing">
					<header>
						<a href="{{uri}}">
							<h2 class="name">{{name}}</h2>
						</a>
					</header>
					<div class="btn-group">
						<a class="btn" href="{{api_url}}">View Reviews</a>
					</div>
				</article>
				</li>
				{{/things}}
			</ol>
		{{else}}
			<div class="alert alert-error">
				Sorry, no Things nearby
			</div>
		{{/if}}
	</div>
</script>
{%endverbatim%}
{% endblock %}
