{% extends "base.html" %}
{% load verbatim %}
{% block content %}

<form id="nearme-settings">
	<p><input name="latitude" min="-90" max="90" value="50.942921"/></p>
	<p><input name="longitude" min="-180" max="180" value="-1.401112"/></p>
	<p><input name="radius" value="0.1"/></p>
	<input type="submit" disabled="disabled" />
</form>
<div class="row">
	<ul id="things-nearme" class="span4 offset4"></ul>
</div>
{% endblock content %}

{% block footer %}
	<p>This page uses <a href="http://www.movable-type.co.uk/scripts/latlong-db.html">code</a> from Chris Veness</p>
{% endblock %}

{% block extra_scripts %}
<script src="{{ STATIC_URL }}3rdparty/sparql/sparql.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}3rdparty/handlebars/handlebars-1.0.0.beta.6.js" type="text/javascript"></script>
{%verbatim%}

<!--http://notes.3kbo.com/sparql-geolocation-->
<script id="sparql-things-nearme" type="text/x-handlebars-template">
	SELECT * WHERE {
		?s geo:lat ?lat .
		?s geo:long ?long .
		?s rdfs:label ?label .
		FILTER ( ?long > {{minLng}} && ?long < {{maxLng}} && ?lat > {{minLat}} && ?lat < {{maxLat}})
	} LIMIT 100
</script>

<script id="things-nearme-tmpl" type="text/x-handlebars-template">
	{{#things}}
		<li><a href={{uri}}>{{name}}</a></li>
	{{/things}}
</script>


<script type="text/javascript">
	
	function rad2deg (angle) {
		// Converts the radian number to the equivalent number in degrees  
		// 
	    // version: 1109.2015
	    // discuss at: http://phpjs.org/functions/rad2deg    // +   original by: Enrique Gonzalez
	    // +      improved by: Brett Zamir (http://brett-zamir.me)
	    // *     example 1: rad2deg(3.141592653589793);
	    // *     returns 1: 180
	    return angle * 57.29577951308232; // angle / Math.PI * 180}
	}
	
	function deg2rad (angle) {
	    // Converts the number in degrees to the radian equivalent  
	    // 
	    // version: 1109.2015
	    // discuss at: http://phpjs.org/functions/deg2rad    // +   original by: Enrique Gonzalez
	    // +     improved by: Thomas Grainger (http://graingert.co.uk)
	    // *     example 1: deg2rad(45);
	    // *     returns 1: 0.7853981633974483
	    return angle * 0.017453292519943295; // (angle / 180) * Math.PI;
	}
	
	$(function(){
		
		var sparqlThingsNearme = Handlebars.compile($("#sparql-things-nearme").html())
		var thingsNearme = Handlebars.compile($("#things-nearme-tmpl").html())
		
		var sparqler = new SPARQL.Service("http://sparql.data.southampton.ac.uk/");
		
		sparqler.setPrefix("rdf", "http://www.w3.org/1999/02/22-rdf-syntax-ns#")
		sparqler.setPrefix("geo", "http://www.w3.org/2003/01/geo/wgs84_pos#")
		sparqler.setPrefix("rdfs", "http://www.w3.org/2000/01/rdf-schema#")
		
		sparqler.setOutput("json")
		sparqler.setMethod("POST")
		
		
		$("#nearme-settings").submit(function(e){
		
			var lat = parseFloat($(this).find("input[name=latitude]").val())
			var lng = parseFloat($(this).find("input[name=longitude]").val())
			var radius = parseFloat($(this).find("input[name=radius]").val())
			var earth_r = 6371.0; //Earth's radius
			
			
			// first-cut bounding box (in degrees)
			var maxLat = lat + rad2deg(radius/earth_r)
			var minLat = lat - rad2deg(radius/earth_r)
			// compensate for degrees longitude getting smaller with increasing latitude
			var maxLng = lng + rad2deg(radius/earth_r/Math.cos(deg2rad(lat)))
			var minLng = lng - rad2deg(radius/earth_r/Math.cos(deg2rad(lat)))
			
			var query = sparqler.createQuery()
			
			query.query(
				sparqlThingsNearme({minLng:minLng, maxLng:maxLng, minLat:minLat, maxLat:maxLat}),
				{
					failure: function(){
						console.log("fail")
					},
					success: function(json) {
						context = {
								things: []
						}
						for(var i=0; i<json.results.bindings.length; i++){
							var item = json.results.bindings[i]
							context.things.push({uri : item.s.value,  name : item.label.value })
						}
						$("#things-nearme").html(thingsNearme(context))
					}
				}
			)
		return false
		})
		$("#nearme-settings input[type=submit]").removeAttr("disabled")
	})
</script>
{%endverbatim%}
{% endblock %}
